* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;

}

.nav-links {
    display: flex;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
    gap: 20px;

}

.hero{
    background-color: #1f2937;
    display: flex;
    gap: 100px;

}

.hero-content {
    flex: 1;
    justify-content: space-around;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;


}

.card-content {
    display: flex;
    width: 900px;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    padding: 40px;

    
}

.card {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    
}

.image-placeholder {
    border: 4px solid #3882f6;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    display: flex;
}

.quote{
    background-color: #e5e7eb;
    color: #1f2937;
    font-weight: 300;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quote-container {
    display: flex;
    flex-direction: column;
}

.quote-author {
    font-weight: bold;
    text-align: right;
}

.cta-container {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    display: flex;
    padding: 40px;
    justify-content: space-around;
    gap: 50px;

}




.footer{
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

}

a {
    text-decoration: none;
    color: inherit;
}

.navbar,
.hero,
.cta
    {
    padding: 60px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}


.hero-image {
    flex: 1;
    background-color: #919293;
    border-width: 2px;
    justify-content: center;
    align-items: center;
    height: 200px;
    display: flex;
}

.hero-content h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-image p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.signup-btn,
.cta-signup-btn {
    padding: 5px 24px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    border: #3882f6;
}

.cta-signup-btn {
    border: 2px solid #f9faf8;
}
.hero-content p {
    color: #e5e7eb;
}

.info-p {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

